[Unit]
Description=DICOM Trigger Service
After=multi-user.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/python3 /data/code/trigger/trigger.py >> /data/logs/trigger.log 2>&1

[Install]
WantedBy=multi-user.target
User=root
Group=root
