[Unit]
Description=DICOM Receiver Service
#After=docker.service
#Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/podman exec %n stop
ExecStartPre=-/usr/bin/podman rm %n
ExecStart=/usr/bin/podman run --rm --name %n \
    --net podman \
    --security-opt=apparmor=podman \
    -v /data/site/archive:/data/site/archive \
    -v /data/site/raw:/data/site/raw \
    -v /data/site/.arrived:/data/site/.arrived \
    -v /data/logs:/root/logs \
    -p 11112:11112 \
    localhost/receiver:latest

[Install]
WantedBy=default.target
